/*  ******************* Header ************************* */
/*  ********************* Header ************************* */
/*  ********************* Header ************************* */

.header {
  margin: 90px 24px 93px 24px;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  grid-template-areas: "header__menu header__logo header__address";
}

.header__menu {
  padding-left: 34px;
  display: flex;
  align-items: center;
  grid-area: header__menu;
}

.header__links-list {
  width: 388px;
  height: 23px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style: none;
}
.links-text-decoration {
  text-underline-offset: 4px;
}

.header__link {
  color: #000;
  font-size: 18px;
  line-height: 1.35;
  font-weight: 400;
  font-style: normal;
}

.header__link_active {
  text-decoration: none;
}

.header__menu-marker {
  width: 8px;
  height: 8px;
}

.header__logo {
  width: 148px;
  height: 105px;
  grid-area: header__logo;
  justify-self: center;
}

.header__address {
  padding-right: 32px;
  place-self: center end;
  grid-area: header__address;
}

.header__address-list {
  display: grid;
}

.header__address-text {
  color: #000;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.header__address-list-item {
  list-style: none;
}

/*  ********************* Первый экран ************************* */
/*  ********************* Первый экран ************************* */
/*  ********************* Первый экран ************************* */

.cover {
  position: relative;
  margin: 0 9px 18px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.6;
}

.cover__title {
  position: relative;
  padding: 162px 49px 118px 47px;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  padding-bottom: 10px;
  align-self: start;
}

.letter-spacing-extended-ono {
  letter-spacing: 0.6em;
}

.aligned-text_center {
  padding-right: 309px;
  padding-bottom: 4px;
  align-self: end;
}

.letter-spacing-extended-tebe {
  letter-spacing: 0.57em;
}

.aligned-text_right {
  padding-bottom: 5px;
  align-self: end;
}

.letter-spacing-extended-nado {
  letter-spacing: 0.56em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  padding-right: 48px;
  padding-bottom: 49px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.cover__description-text {
  z-index: 1;
  padding-right: 68px;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 30px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: "Raleway";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}

/*  ********************* Второй экран ************************* */
/*  ********************* Второй экран ************************* */
/*  ********************* Второй экран ************************* */

.lots {
  margin: 176px 31px 177px;
}

.lots__heading {
  padding-left: 37px;
  padding-bottom: 27px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  position: relative;
  padding-bottom: 29px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 327px;
  height: 554px;
  background-color: grey;
  flex-grow: 1;
}

.lots__card-list-item-center {
  width: 329px;
  height: 554px;
  background-color: grey;
  flex-grow: 1;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  padding: 48px 35px 46px 39px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.card__title {
  z-index: 1;
  justify-content: start;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.lots__look-more-link {
  padding-left: 39px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*  ********************* Третий экран ************************* */
/*  ********************* Третий экран ************************* */
/*  ********************* Третий экран ************************* */

.about {
  margin: 0 9px;
  display: flex;
  gap: 25px;
}

.about__logo {
  padding: 0 45px 0 70px;
}

.about__logo-image {
  width: 237px;
  height: 237px;
}

.about__title {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 97px;
}

.about__text-padding {
  padding-bottom: 25px;
  padding-top: 100px;
}

.about__text {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*  ********************* footer ************************* */
/*  ********************* footer ************************* */
/*  ********************* footer ************************* */

.footer {
  display: flex;
  justify-content: space-between;
  margin: 178px 58px 89px;
}

.footer__social-list {
  display: flex;
  gap: 47px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__menu-list {
  list-style: none;
}
.footer__menu-list-item {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-link_active {
  text-decoration: none;
}
